/*
    Element Gradient Colors
*/

$yellow_gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$purple_gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$red_gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$light_purple_gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$cyan_gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

/*
    Background Color
*/

$dark_blue_gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

/*
    Text Colors
*/

$dark: hsl(229, 25%, 31%);
$blue: hsl(229, 64%, 46%);
$grey: hsl(217, 16%, 45%);
