@font-face {
  font-family: 'Barlow-Semi-Condensed';
  src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Semi-Condensed-Bold';
  src: url('../fonts//Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf');
}
