@import '../assets/scss/colors.scss';
@import '../assets/scss/weapons.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

/*
 *  Weapons Selection Style
*/

.weaponsSelection {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s linear;

  .pentagonBg {
    width: 17rem;
  }

  .yellowWeaponContainer {
    @extend %weaponContainer;

    position: absolute;
    top: -1rem;
    left: 6rem;
  }

  .purpleWeaponContainer {
    @extend %weaponContainer;

    position: absolute;
    right: -1rem;
    top: 4rem;
  }

  .redWeaponContainer {
    @extend %weaponContainer;

    position: absolute;
    right: 1.8rem;
    bottom: -0.8rem;
  }

  .lightPurpleWeaponContainer {
    @extend %weaponContainer;

    position: absolute;
    left: 1.8rem;
    bottom: -0.8rem;
  }

  .cyanWeaponContainer {
    @extend %weaponContainer;

    position: absolute;
    left: -1rem;
    top: 3.5rem;
  }
}

/*
*  Battlefield Style
*/

.battlefield {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  top: 30vh;
  left: 0;
  transition: opacity 0.3s linear;

  .userChoice,
  .houseChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .weaponImg {
      width: 4rem;
    }

    span {
      margin-top: 2.5rem;
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .houseChoice {
    transition: all 2s linear;

    &.transparent {
      div {
        opacity: 0.1;

        &:before {
          background: black;
        }

        img {
          opacity: 0;
        }
      }
    }

    &.visible {
      div {
        opacity: 1;
        transition: all 0.1s linear;
      }
    }
  }
}

/*
 * END Game Message 
*/

.endGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s linear;

  span {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  button {
    background: white;
    border: 0;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 0.9rem 0rem;
    font-weight: bold;
    color: $dark;
  }
}

/*
 * Visibility 
*/

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

/*
* Media Queries
*/

@media screen and (min-width: $sm_screen) {
  .endGame {
    position: absolute;
    top: 60vh;
    left: inherit;

    span {
      font-size: 4rem;
    }
    button {
      font-size: 1.5rem;
      padding: 1.2rem 0rem;
      letter-spacing: 3px;
    }
  }
}

@media screen and (min-width: $md_screen) {
  .container {
    margin: 10em 0;
  }

  .weaponsSelection {
    .pentagonBg {
      width: 30rem;
    }

    .yellowWeaponContainer {
      top: -2rem;
      left: 11rem;
    }

    .purpleWeaponContainer {
      right: -2rem;
      top: 7rem;
    }

    .redWeaponContainer {
      right: 1.8rem;
      bottom: -0.8rem;
    }

    .lightPurpleWeaponContainer {
      left: 2rem;
      bottom: -0.8rem;
    }

    .cyanWeaponContainer {
      left: -2rem;
      top: 7rem;
    }
  }
  .battlefield {
    .userChoice,
    .houseChoice {
      span {
        font-size: 2rem;
      }
    }
  }
  .endGame {
    span {
      font-size: 5rem;
    }
  }
}

@media screen and (min-width: $lg_screen) {
  .weaponsSelection {
    .pentagonBg {
      width: 35rem;
    }

    .yellowWeaponContainer {
      left: 13rem;
    }

    .purpleWeaponContainer {
      right: -3rem;
      top: 8rem;
    }

    .cyanWeaponContainer {
      left: -3rem;
      top: 8rem;
    }
  }
}

@media screen and (min-width: $xl_screen) {
  .endGame {
    top: 60vh;

    span {
      font-size: 5rem;
    }
    button {
      font-size: 1.5rem;
      padding: 1.2rem 0rem;
    }
  }

  .container {
    margin: 7rem 0;
  }
}
