@import '../assets/scss/colors.scss';
@import '../assets/scss/responsive.scss';

.container {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100vw;
  z-index: -999;
}

.visible {
  opacity: 1;
  z-index: 999;
}

.container h2 {
  color: $dark;
  font-family: 'Barlow-Semi-Condensed-bold';
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin: 5rem 0 6rem 0;
}

.closeIcon {
  border: 0;
  background-color: white;
  cursor: pointer;
  bottom: 3.5rem;
  position: absolute;
}

@media screen and (min-width: $lg_screen) {
  .container {
    top: 15vh;
    left: 35vw;
    width: auto;
    height: auto;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 5px;
    align-items: flex-start;
    box-shadow: 12px 14px 25px 2px rgba(0, 0, 0, 0.58);
  }

  .container h2 {
    margin: 0.5rem 0 1rem 0;
  }

  .closeIcon {
    position: absolute;
    bottom: initial;
    top: 2rem;
    right: 2rem;
  }
}
