@import '../assets/scss/colors.scss';

.container {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100vw;
  z-index: -999;
}

.visible {
  opacity: 1;
  z-index: 999;
}

.container h2 {
  color: $dark;
  font-family: 'Barlow-Semi-Condensed-bold';
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin: 5rem 0 6rem 0;
}

button {
  cursor: pointer;

  .closeIcon {
    bottom: 3.5rem;
    position: absolute;
  }
}
